// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offers-table{
  width: 90%;
  background: rgba(0, 0, 0, 0.6);
  td{
  color: white;}
}
.container{
  // background-color: #E9BA6F !important;
  // background-image:url("technics.jpg");
  // background-size: cover;
  // background-repeat:no-repeat;
}
