<h1>Payment</h1>



<%@plans.each do |plan|%>
<div class="payment-option">
  <h3 class="plan"><%=plan[0]%></h3>
  <div class="bottom">
    <div class="cost">
      <p>$<%=plan[1]%>/ month</p>
    </div>
    <form action="/tours" method="GET">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_gKEkKvh4AIzPag1eZkCqoCDH"
        data-amount="<%=plan[1]*100%>"
        data-name="<%=plan[0]%> plan"
        data-description="Monthly subscription plans"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true"
        data-currency="aud">
      </script>
    </form>
  </div>

</div>
<%end%>
